{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css" />
{% endblock %}

{% block content %}

{% block bodytitle %}<h3 class="post-title">Subscribe</h3>{% endblock %}

<form method="post" action="">{% csrf_token %}
    <ul>
        <li>
        <label for="id_number">
            <div>Number:</div>
            {% if form.number.errors %}
            {{ form.number.errors }}
            <span class='field-error'>{{ form.number }}</span>
            {% else %}
            <span>{{ form.number }}</span>
            {% endif %}
        </label>
        </li>
        <li>
        <label for="id_pin">
            <div>Pin:</div>
            {% if form.pin.errors %}
            {{ form.pin.errors }}
            <span class='field-error'>{{ form.pin }}</span>
            {% else %}
            <span>{{ form.pin }}</span>
            {% endif %}
        </label>
        </li>
        <li>
            <span><input type="submit" value="subscribe" /></span>
        </li>
      </ul>
</form>
<script type="text/javascript">
    document.getElementById('id_number').focus();
</script>
{% endblock %}
