{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
      </style>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiIEYStrod4cuz22c4VaT8vkrEMYRX1zM"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
     <script type="text/javascript">


     //var defaultLat = 6.5732;
     //var defaultLon = 3.39998;
     var defaultLat = 0.5732;
     var defaultLon = 0.39998;
      // Get user location
     function getLocation() {
         if (navigator.geolocation) {
             navigator.geolocation.getCurrentPosition(storePosition);
         } else {
          buildMap(defaultLat, defaultLon);
          //$('#current_lat').html('6.5732');
          //$('#current_lon').html('3.39998');
         }
     }
      function storePosition(position) {
          //$('#current_lat').html(position.coords.latitude);
          //$('#current_lon').html(position.coords.longitude);
          buildMap(position.coords.latitude, position.coords.longitude);
      }

      getLocation();
      //alert(longitude);

      function initialize() {
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      // Getting markers

function buildMap(latitude, longitude) {
      //console.log(latitude);
      //console.log(longitude);
        var mapOptions = {
          center: { lat: latitude, lng: longitude},
          zoom: 12
        };
       var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

       placeMarkers(map);

}

function placeMarkers(map){
        $.get('/markers/', {"one": "two"}, function(data, status){
          $.each(data, function(item, results){
            var latlng = new google.maps.LatLng(results['latitude'], results['longitude']);
            var icon_color = "marker.png";
            if (results['response'] == '3'){
              icon_color = "marker_green.png";
            }
            else if (results['response'] == '2') {
              icon_color = "marker_orange.png";
            }
            new google.maps.Marker({
                position: latlng,
                map: map,
                title: results['since'] + " ago",
                icon: "http://maps.google.com/mapfiles/" + icon_color
            });
          });
        });
}
    </script>
 </head>
 <body>
     <div id="map-canvas"></div>
     <script type="text/javascript">
     </script>
     
     {% for marker in markers %}{{marker}}{% endfor %}
     <div id="current_lat"></div>
     <div id="current_lon"></div>
 </body>
</html>

